.landing {

  h2 {
    font-size: 2.25rem;
    @include media($medium-screen) {
      font-size: 3rem;
    }
    margin-bottom: 0.5rem;
  }

  form {
    border-radius: $br;

    fieldset {
      background: none;
      border: none;
      padding: 0rem 1rem;
    }

    label {
      font-weight: 100;
    }

    input{
      margin: 0px;
      padding: 0.6em 0.5em 0.4em 0.5em;
    }

    .field{
      margin: 0.7rem;
    }

    .actions {
      input {
        background: $landing;
      }
    }

  }

  background-color: $landing;

  .content {
      padding: 0.5rem 0px;
      border-radius: $br;
      border: 1px $light-gray solid;
  }

  .content_frame {
      margin: 8px;
      padding: 15px;
      border-radius: $br;
      border: 1px $light-gray solid;
      background-color: $landing-light;
      #new_user input{
        font-size: 1.25rem;
        @include media($medium-screen) {
          font-size: 1.95rem;
          line-height: 2.1rem;
        }
        @include media($large-screen) {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }
      @include media($medium-screen) {
          width: 75%;
          margin: 10px auto;
          
      }
      @include media($large-screen) {
          width: 60%;
      }
   }
}

.ui-tooltip-content {
  background: $medium-gray;
  padding: 5px;
  color: $pale-gray;
}
.ui-tooltip {
  display: inline-block;
}
.ui-helper-hidden-accessible {
  display: none;
  width: 0px;
  height: 0px;
}

.devise_links {
  margin-top: 10px;
  font-size: 1.95rem;
}
