.landing {

  background-color: $landing;

  h2 {
    font-size: 2.25rem;
    @include media($medium-screen) {
      font-size: 3rem;
    }
    margin-bottom: 0.5rem;
  }

  form {
    border-radius: $br;

    fieldset {
      background: none;
      border: none;
      padding: 0rem 1rem;
    }

    label {
      font-weight: 100;
      font-size: 1.5rem;
    }

    input{
      margin: 0px;
      padding: 0.6em 0.5em 0.4em 0.5em;
    }

    .field{
      margin: 0.7rem;
    }


  }

  #error_explanation {
    background: $peach;
    border-radius: $br;
    margin: 0rem 1rem;
    padding: 0.9rem;
    font-size: 1.25rem;

    h2 {
      font-family: $base-font-family;
      font-size: 1.5rem;
    }
  }

  .content {
      padding: 0.5rem 0px;
      border-radius: $br;
      border: 1px $light-gray solid;
  }

  .content_frame {
      margin: 8px;
      padding: 15px;
      border-radius: $br;
      border: 1px $light-gray solid;
      background-color: $landing-light;
      #new_user {
        .actions {
          input {
            background: $landing;

            &:hover {
              border: none;
              color: $dark-gray;
            }

            &:focus {
              border: none;
              box-shadow: 0px 5px 5px $dark-gray;
            }
          }
        }

        label[for="user_remember_me"]:hover {
          color: $medium-gray;
        }

        input[type=checkbox] {
          transform: scale(1.5);
          margin: 0px 3px 3px;

          &:hover {
          }
        }

        input {
          font-size: 1.25rem;
          &:hover {
            border: 0.1rem $medium-gray solid;
          }
          &:focus {
            box-shadow: none;
            border-bottom: 0.25rem $medium-gray solid;
            border-top: 0.1rem $medium-gray solid;
            border-left: 0.1rem $medium-gray solid;
            border-right: 0.1rem $medium-gray solid;
          }
          @include media($medium-screen) {
            font-size: 1.95rem;
            line-height: 2.1rem;
          }
          @include media($large-screen) {
            font-size: 1.25rem;
            line-height: 1.5rem;
          }
        }
      }
      @include media($medium-screen) {
          width: 75%;
          margin: 10px auto;
          
      }
   }
}

//stop scrollbar from appearing alone with tooltip
.ui-tooltip, .arrow:after {
      position: absolute;
}

.ui-tooltip-content {
  background: $medium-gray;
  padding: 5px;
  color: $pale-gray;
  @include media($medium-screen) {
    font-size: 1.5rem;
  }
}
.ui-tooltip {
  display: inline-block;
}
.ui-helper-hidden-accessible {
  display: none;
  width: 0px;
  height: 0px;
  position: fixed;
  bottom: 30;
}


.devise_links {
  margin-top: 10px;
  font-size: 1.75rem;
}
