body {
  margin: 0px;
}

.notice {
}

.alert {
    background: $peach;
    margin: 10px auto;
    border-radius: $br;
    text-align: center;
    line-height: 2.3;
    font-size: 1.5rem;
    @include media($medium-screen) {
        width: 75%;
    }
}

header {
  margin: 0px 0px 2.5rem 0px;
  padding: 0.25rem 0.75rem;

  background: $pale-gray;
  box-shadow: 0px 5px 5px $dark-gray;

  h1 {
    font-size: 3.5rem;
    @include media($medium-screen) {
      font-size: 5rem;
    }
    margin-bottom: 0px;
    color: $medium-gray;
    display: inline-block;
  }

  .links {
    margin: 1rem;
    display: inline-block;
    float: right;
    font-size: 1.5rem;
    line-height: 2.25rem;
    vertical-align: middle;
    font-weight: 900;
    font-family: $heading-font-family;

    .text_links {
      margin: 0.5rem;
      vertical-align: middle;
    }
  }
  clear: both;
}

