@mixin icon-button() {
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  font-size: 16px;
  margin: 0px;
  transition: box-shadow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.content {
  margin: 5px auto;
  text-align: center;
}

.memory {
  text-align: center;
  margin: 1rem;
}

.tumblr_post_outer, .tweet_outer{
  display: inline-block;
}

#new_memory {
  width: 100%;
  font-family: $heading-font-family;
  font-size: 1.75rem;
  opacity: 0.75;
}

.take_me_back form {
  width: 100%;
  margin: 0px;
  max-width: 100%;
}

/*-----------MOBILE--------------*/
form {
  font-size: 1rem;
  width: 100%;
  max-width: 30rem;
}

h2{
  font-size: 2.5rem;
}

/*--------------------------------*/
@include media($medium-screen) {
  form {
    font-size: 1.5rem;
  }
  h2{
    font-size: 2rem;
  }
}
@include media($large-screen) {
  form {
    font-size: 1.3rem;
  }
}

#initial_loading {
  margin: 1rem;
  svg {
    height: 65px;
    width: 65px;
  }
}

#complete, #import_latest input {
  border-radius: 50%;
  padding: 0;
}

#latest_loading, #complete, #import_latest input {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

#initial_loading, #latest_loading {
  display: none;
} 

#complete {
  @include icon-button;
  background-image: image-url('complete.svg');
  display: none;
  background-color: $light-gray;
} 

.spinner {
  animation: rotator $loading-duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $loading-duration ease-in-out infinite, 
    colors ($loading-duration*4) ease-in-out infinite;
}

@keyframes colors {
        0% { stroke: $landing-dark; }
        25% { stroke: $peach; }
        50% { stroke: $landing-light; }
        75% { stroke: $blue; }
  100% { stroke: $dark-gray; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.update {
  background-size: 100% 100%;
  display: block;
}

.generate_memories {
  display: inline-block;
  width: auto;
  margin: 1rem;

  input[type="submit"] {
    padding: 1.75rem 2.5rem;
  }
}

input[type="submit"], button {
  box-shadow: 0 2px 5px 0 $shadow, 0 2px 10px 0 $shadow;
  opacity: 0.5;

  &:hover {
      box-shadow: 0 5px 11px 0 $shadow, 0 4px 15px 0 $shadow;
    }


  &:focus, &:focus:hover {
    box-shadow: 0 5px 11px 0 $shadow-pressed, 0 4px 15px 0 $shadow-pressed;
    background-color: $blue;
    outline: 0;
  }

  &:active, &:active:hover {
    box-shadow: 0 8px 11px 0 $shadow-pressed, 0 8px 15px 0 $shadow-pressed;
    background-color: $blue;
  }

  &:disabled, &:disabled:hover, &:disabled:focus, &:disabled:active {
    opacity: 0.25;
    box-shadow: none;
  }

  @include media($medium-screen) {

    &:hover {
      box-shadow: 0 5px 11px 0 $shadow, 0 4px 15px 0 $shadow;
      background-color: $blue;
    }

  }
}
#twitter_submit {
  @include icon-button;
  background-image: image-url('twitter.svg');
}

#tumblr_submit {
  @include icon-button;
  background-image: image-url('tumblr.svg');
}

#instagram_submit {
  @include icon-button;
  background-image: image-url('instagram.svg');
}

#facebook_submit {
  @include icon-button;
  background-image: image-url('facebook.svg');
}

#import_latest {
  display: inline-block;
  font-family: $heading-font-family;
  width: auto;

  input {
    @include icon-button;
    background-image: image-url('nostalgia.svg');
    background-color: $peach;
  }
}

.instagram_embed, .fb_outer {
  color: black;
  border: $dark-gray;
  padding: 10px;
  box-shadow: 0 2px 5px 0 $shadow, 0 2px 10px 0 $shadow;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
  }
}

.tweet_outer iframe, .tumblr_post_outer iframe{
  box-shadow: 0 2px 5px 0 $shadow, 0 2px 10px 0 $shadow;
}

.hidden {
  display: none;
}

.fb_auth_link {
  margin: 5px;
  width: 100%;

  button {
    span {
      margin-left: 20px;
      color: black;
    }

    font-family: $heading-font-family;
    font-size: 1.75rem;
    background-image: image-url('facebook.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
}
